/* ------Mobile view media query */
@media only screen and (min-width: 200px) and (max-width: 575px) {
  .btn-outer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: white;
    padding: 5px 0;
    justify-content: center !important;
  }
  .bannerContent h1 {
    font-size: 32px;
    font-weight: 700;

    text-align: center;
    line-height: 35px;
  }

  .bannerContent br {
    display: none;
  }

  .bannerContent p,
  .bannerContent ul li {
    font-size: 16px;
  }
  .bannerContentBtn {
    flex-direction: column;
  }
  .bannerContentBtn button {
    width: 100%;
  }
  .bannerForm {
    padding: 20px;
  }
  .highlights-section h2 {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1440px;
  }
}
